html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, #root {
  height: 100%;
	overflow: auto;
}

body {
  margin: 0;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #111111;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button:hover {
  cursor: pointer;
}

:focus {
  outline: none;
}

.main-wrapper {
  min-width: 230px;
	max-width: 550px;
  margin: 0 auto;
  height: fit-content;
}

.main-header h1 {
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  color: #b83f45;
  text-rendering: optimizeLegibility;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
}

.todo-app {
  background: #ffffff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
}

.todo-input {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);

  width: 100%;

	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo-input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.4);
}

.todo-input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.4);
}

.todo-input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.4);
}

.todo-wrapper {
  position: inherit;
}

.toggle-all {
	width: 1px;
	height: 1px;
	border: none; /* Mobile Safari */
	opacity: 0;
  position: absolute;
}

.toggle-all + label {
  position: absolute;
  top: -42px;
  left: -8px;
	font-size: 0;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.toggle-all + label:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 20px;
}

.todo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todo-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
	border-bottom: none;
}

.todo-list li label {
	word-break: break-all;
	padding: 15px 15px 15px 60px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
	font-weight: 400;
	color: #4d4d4d;
}

.todo-list div.completed label {
	color: #cdcdcd;
	text-decoration: line-through;
}

.todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

.todo-list li .destroy:hover {
	color: #af5b5e;
}

.todo-list li .destroy:after {
	content: '×';
}

.todo-list li:hover .destroy {
	display: block;
}

.todo-item {
	position: relative;
}

.todo-list li .toggle-box {
	width: 50px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
	opacity: 0;
}

.todo-list li .toggle-box + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: left;
}

.todo-list li .toggle-box:checked + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.todo-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

	padding: 10px 15px;
	font-size: 15px;
	border-top: 1px solid #e6e6e6;
}

.todo-footer::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0px;
	left: 0;
	height: 50px;
  pointer-events: none;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todo-count {
  text-align: center;
}

.todo-filters {
  display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
	right: 0;
	left: 0;
}

.todo-filters a {
  text-decoration: none;
	color: inherit;
}

.todo-filters li {
	display: inline;

  color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 2px solid transparent;
	border-radius: 3px;

  cursor: pointer;
}

.todo-filters li:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

.todo-filters li.selected {
	border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed-button {
	padding: 3px 5px;
  border: 2px solid rgba(175, 47, 47, 0.1);
  border-radius: 4px;
  transition: background-color 0.4s;
}

.clear-completed-button:hover {
  color:#e6e6e6;
  background-color: rgba(175, 47, 47, 0.7);
}

.main-footer {
	margin: 60px auto 0;
	padding-bottom: 10px;
	color: #4d4d4d;
	font-size: 11px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

.main-footer a {
  text-decoration: none;
  color: #3f69bd;
  font-weight: 400;
}

.main-footer a:hover {
  text-decoration: underline;
}